# Cria o tipo/rótulo do serviço AIDL (rotulado no arquivo service_contexts)
type smartdoor_service, service_manager_type, vendor_service;

# Cria o tipo/rótulo do daemon (rotulado no arquivo file_contexts)
type smartdoor_daemon, domain;
type smartdoor_daemon_exec, exec_type, vendor_file_type, file_type;

# Permissões
init_daemon_domain(smartdoor_daemon);                        # O daemon será iniciado pelo init
vndbinder_use(smartdoor_daemon);                             # O daemon usará o binder
allow smartdoor_daemon servicemanager:binder { call transfer };

add_service(smartdoor_daemon, smartdoor_service)             # O daemon irá criar o serviço do smartlamp

# Permite acesso aos arquivos do /sys
allow smartdoor_daemon sysfs:file { getattr open read write };

# Cria e Permite leitura da propriedades de sistema do smartlamp
vendor_public_prop(vendor_smartdoor_prop)
allow smartdoor_daemon vendor_smartdoor_prop:file { open getattr map read };

# Permite que apps privilegiados acessem o daemon e o serviço
allow platform_app smartdoor_daemon:binder call;
allow platform_app smartdoor_service:service_manager find;

# Permite que apps normais acessem o daemon e o serviço
allow untrusted_app smartdoor_daemon:binder call;
allow untrusted_app smartdoor_service:service_manager find;
